streamlit
python-pptx
moviepy>=2.0.0
edge-tts
python-docx
pypdf
Pillow
openai
watchdog
lxml
openpyxl
jinja2
click
tomli
protobuf==4.25.3
numpy
pandas
decorator
imageio
imageio-ffmpeg
proglog
tqdm
requests
markdown
beautifulsoup4
